target/
lib/
classes/
checkouts/
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
*.#*
.DS_Store
*.*~
.nrepl-hist.eld
repl-port
\#*.*\#
.lein-repl-history
extract-native.dependencies
*~
*.rdb
/.idea*
*.iml
.projectile
.sass-cache
tmp/
logs/
uberdoc.html
.nrepl-port